{% extends 'users/base.html' %}


{% block content %}
<a href="{% url 'login' %}">login</a> | <a href="{% url 'register' %}">Register</a>
<h1>Login</h1>
<form method="post" >
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username"><br/>
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
    <a href="{% url 'register' %}">Don't have account then click here</a>

</form>
{% endblock content %}