body {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.register-container {
  display: flex;
  width: 100%;
}

.register-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.register-left h1 {
  color: #3f51b5;
  font-size: 37px;
  margin-bottom: 20px;
}

.meditrack-text {
  font-size: 48px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  background: linear-gradient(100deg, #8bbdea, #3f51b5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-top: 0;
  margin-left: 20px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 15px;
  border: 2px solid #3f51b5;
  border-radius: 8px;
  background-color: #ffffff;
  padding-left: 15px;
  height: 45px;
  gap: 10px; /* space between label and input */
}

.input-container label {
  white-space: nowrap;
  font-size: 14px;
}

.input-box {
  width: 100%;
  padding: 0 12px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.register-btn {
  background: linear-gradient(100deg, #a89fed, #6f1ed3);
  color: #fff;
  border: none;
  padding: 12px 0;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.register-right {
  width: 50%;
}

.register-right img {
  width: 710px;
  height: 590px;
  object-fit: contain;
  margin-top: 130px;
}
